.side-bar {
  box-sizing: border-box;
  color: $white-color;
  width: 300px;
  .header {
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
  &_name {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }
  &_lists{
    display: inline-block;
    float: right;
    .list{
      display: inline-block;
    }
    .icon{
      color: $white-color;
      font-size: 16px;
    }
  }
}
.groups{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding:0 20px;
  .group{
    box-sizing: border-box;
    padding: 20px 0 40px;
    &_name{
      color: $white-color;
      font-size: 15px;
    }
    &_message{
      color: $white-color;
      font-size: 11px;
      margin-top: 5px;
    }
  }
}
}
